# trusty beta image has jdk8, gcc4.8.4
dist: trusty
sudo: required
# Not technically required but suppresses 'Ruby' in Job status message.
language: go
python:
  - "2.7"
os:
  - linux

go:
  - 1.10.x

jdk:
  - oraclejdk8

install:
  - export PATH=$PATH:$HOME/bin && mkdir -p $HOME/bin
  - wget https://github.com/bazelbuild/buildtools/releases/download/0.22.0/buildifier && chmod +x buildifier && mv buildifier $HOME/bin/
  - wget https://github.com/bazelbuild/bazel/releases/download/1.0.0/bazel-1.0.0-linux-x86_64 && mv bazel-1.0.0-linux-x86_64 bazel && chmod +x bazel && mv bazel $HOME/bin/
  - sudo pip install pylint

script:
  - ./test.sh

notifications:
  email: false
