# ----------------------------------------------------------------------

# Created by https://www.gitignore.io/api/dotnetcore
# Edit at https://www.gitignore.io/?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
/bin
/obj
/out

# Common node modules locations
/node_modules
/wwwroot/node_modules

# End of https://www.gitignore.io/api/dotnetcore

# ----------------------------------------------------------------------
