name: CI

on:
  workflow_dispatch: # Allow manual runs.
  pull_request:
    branches: [ 'main' ]
  push:
    branches: [ 'main' ]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: bazelbuild/setup-bazelisk@v2
    - name: Mount bazel cache
      uses: actions/cache@v3
      with:
        path: "~/.cache/bazel"
        key: bazel

    - name: Build and test
      run: |
        set -ex
        for i in $(seq 5); do bazel fetch --loading_phase_threads=1 //... && break || sleep 20; done
        bazel build --curses=no //...
        bazel test --curses=no --test_output=errors //...
        # Ignore experimental targets, which might not pass.
        # TODO: Fix or remove these exceptions.
        targets=$(bazel query 'attr("tags", "'amd64'", "//...")')
        bazel build --curses=no ${targets}
        bazel test --curses=no --test_output=errors ${targets}
